# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Node dependencies
backend/node_modules/
frontend/node_modules/

# Build output
dist/
frontend/dist/

# Environment files
backend/.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
