<div class="customer-list">
  <h2>Customers</h2>
  <button routerLink="/customers/new">Add Customer</button>
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error" class="error">{{ error }}</div>
  <table *ngIf="customers.length">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Company</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.company }}</td>
        <td>
          <button [routerLink]="['/customers', customer._id, 'edit']">Edit</button>
          <button (click)="deleteCustomer(customer._id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!customers.length && !loading">No customers found.</div>
</div>
